$color-white:#efefef;

$color-red:#ff4141;
$color-dark-red:#552f2f;
$color-orange:#ff7741;
$color-dark-orange:#55402f;
$color-yellow:#ffe341;
$color-dark-yellow:#55522f;
$color-green:#67ff41;
$color-dark-green:#3b552f;
$color-cyan:#41ffef;
$color-dark-cyan:#2f5552;
$color-blue:#4441ff;
$color-dark-purple:#2f3055;
$color-purple:#9741ff;
$color-dark-purple:#4f2f55;

$main-color-1:#ffffff;
$main-color-2: #888888;
$main-color-3: #505050;
$color-black:#2D2727;
$transition: all 0.2s;
$pattern-background: (
    'Dark-10':brightness(10%),
    'Dark-20':brightness(20%),
    'Dark-30':brightness(30%),
    'Dark-40':brightness(40%),
    'Dark-50':brightness(50%),
    'Dark-60':brightness(60%),
    'Dark-70':brightness(70%),
    'Dark-80':brightness(80%),
    'Dark-90':brightness(90%),
    'Light-10':brightness(110%),
    'Light-20':brightness(120%),
    'Light-30':brightness(130%),
    'Light-40':brightness(140%),
    'Light-50':brightness(150%),
);