@charset "utf-8";

* {
  margin: 0;
  padding: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  transition: all 0.275s linear;
  color: white;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  width: 100%;
  color-scheme: dark;
}

header {
  text-align: center;
  padding: 5px;
  background-color: #002;
  border-bottom: 1px solid transparent;
}

header:hover {
  padding: 10px;
  background-color: #014;
  border-bottom: 1px solid aquamarine;
}

.nav-1 ul {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
}

.nav-1 li {
  list-style: none;
}

ul li a {
  display: block;
  text-align: center;
  background-color: #002;
  border-radius: 10px;
  text-decoration: none;
  color: rgb(186, 184, 255);
  border: 1px solid transparent;

}

ul li a:hover {
  background-color: #003;
  text-decoration: underline;
  border: 1px solid aquamarine;
}

.nav-1>a:visited {
  color: rgb(255, 147, 215);
}

.information {
  margin: 0px 1vw;
  padding: 0px 20px;
  border-radius: 10px;
  background-color: #1a1a1a;
  text-align: justify;
  text-justify: inter-word;
}
.certificates {
  margin: 1vw 1vw;
  padding: 0px 20px;
  border-radius: 1vw;
  background-color: #1a1a1a;
}
.certificates ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.certificates li {
  list-style-type: none;
}


@media (max-width: 767px) {
  header {
    font-size: 10px;
    margin: 0;
  }
  .nav-1 ul {
    display: block;
  }
  .nav-1>a {
    display: block;
    margin: 1vw 0;
  }
  ul li a:hover {
    padding: 3vw;
  }
  .information {
    font-size: 10px;
  }
  .certificates {
    font-size: 9px;
  }
}
